<!DOCTYPE html>
<html>
	<head>
		<title>Informações Profissionais</title>
		<meta charset="utf-8">
	    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/styles/curriculo.css"/>
    </head>
	<body>
        <block>   
            <div class="wrap">  
                <header>
                    <div class="header-black">
                        <div class="container">
                            
                        </div>
                    </div>
                    
                    <img src="img/loguinho01.png" id ="loguinho01"> 
                    <div class="container">
                        <div class="row">
                            <nav id="menu" class="pull-right">
                                <ul>
                                    <li><a href="/">Inicio</a></li>
                                    <li><a target="blank"  href="https://github.com/brunoViniciusTiCa">GitHub</a></li>
                                    <li><a target="blank"  href="https://github.com/brunoViniciusTiCa?tab=repositories">Repositorios</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </header>
            
                <section>
                            <div id="banner">
                        
                            </div>
                        
                            <div class="header">
                                
                                    </div>

                                    <div class="header">
                            <h1 id="idTitulo"> Informações Profissionais </h1>
                        </div>

                        <div class="container">
                            
                                    <h2 id="h2"> Habilidades e Expertise: </h2>
                                
                                    <div id="formacao">
                                        <h2> º Formação </h2>
                                        <li>ADS - Cursando </li>
                                        <li>3º periodo</li>
                                        <li>Ensino Médio Completo</li>
                                        <li>Inglês no Senac - Estudando </li>
                                    </div>  
                                
                                    <div id='Skils'>
                                        <h2> º SKILS</h2>
                                        <li> SQL - SGBD</li>
                                        <li> Angular - básico </li>
                                        <li> JavaScript </li>
                                        <li> Node.JS </li>
                                        <li> HTML5/CSS3 </li>
                                        <li> Java - POO</li>
                                        <li> C# - POO</li>
                                    </div>

                                    <div id="IDE">
                                        <h2> º IDE </h2>
                                        <li> NetBeans </li>
                                        <li> Visual Studio Code </li>
                                        <li> Visual Studio </li>
                                        <li> SQLServer </li>
                                        <li> MYSQL </li>
                                        <li> Adoble XD</li>
                                        <li> CorelDraw </li>
                                    </div>

                                <div id="Frame">
                                        <h2> º Frame/Certificado </h2>
                                        <li> Express </li>
                                        <li> jquery </li>
                                        <li> BootStrap </li>
                                        <li> Restify</li>
                                        <li> Knex </li>
                                        <li> Udemy - JS</li>
                                        <li> Udemy - Java</li>
                                    </div>
                        </div>

                        <div class="head">
                        
                            <h3 id="cur"> Currículo Gráfico PDF: </h3>

                            <iframe src="img/Bruno - Curriculo.pdf" id="curriculo">

                            </iframe>

                            
                            <div id="TextCurriculo" class="container">
                                <h1>Curriculo Vitae Word</h1>
                                <b id="paragrafo"> 
                                    Coloquei a opção de fazer o download em word, facilita na hora da entrevista.
                                    Assim no próprio computador o entrevistador pode fazer as alterações, colocar perguntas e outras
                                    dúvidas. Sendo assim não vai precisar imprimir o currílo, logo não usará papel, nem 
                                    tinta da impressora. O meio ambiemte agradece! Currículo Vitae Clique no botão ao lado => 
								</b>
                            </div>
                            <a href="img/Vitae.docx" download="Currículo Bruno" class="curriculo">Baixar Currículo</a>
                            
                            <!--<button src="img/Vitae.docx" id="btnCurriculo" download="img/Vitae.docx" href="img/Vitae.docx">
                                Baixar o currículo em Word.
                               </button> -->
                        </div>
            </section> 
                <div id="estatisticas">
                    
                    <div class = "container">
                        <div class="row">
                        </div>
                    </div>
                </div>
        </block>
        <script src="js/curriculo.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
      </div>	
	</body>
</html>