@media (max-width: 640px){
  
  #estatisticas, .container, .row, .col-md-3 ,.header-black, .h3, .col-md-4, .header, section .banner, 
  header .container #menu{
  
    width: 100%;
    text-align: -webkit-center;
  }

  section .banner{
    display: none;
  }

  header{
    width: 100%;
    text-align: -webkit-center; 
  
  }

  header .container #menu{
    width: 70%;
    text-align: -webkit-center;
    position: relative;
    left: 114px;
    top: -26px;
  }
  
  header #loguinho01{
    width: 44%;
    text-align: -webkit-center;
    position: relative;
    height: 65px;
    left: -38px;
    
  }

  
  .h2{
    padding-bottom: 13px;
    text-align: -webkit-center;
    width: 54%;
  }

  .col-md-3{
    padding-bottom: 50px;
    text-align: -webkit-center;
    width: 100%;
  }

  .col-md-4{
    padding-bottom: 50px;
    text-align: -webkit-center;
    width: 90%;
    display: none;
  }

  #estatisticas{
    position: relative;
    top: 118px;
  }
  

  .h3{
    padding-bottom: 22px;
    text-align: -webkit-center;
    width: 100%;
  }

  .wrap{
    width: 100%;
  }

  .time{
    display: none;
  }

  body, html {
    height:100%;
  }
      
  div.wrap {
    height:265%; 
    overflow:hidden;
  }

}

@media (min-width: 411px ) and (max-width: 731px){
  #estatisticas, .container, .row, .col-md-3 ,.header-black, .h3, .col-md-4, .header, section .banner, 
  header .container #menu{
  
    width: 100%;
    text-align: -webkit-center;
  }

  section .banner{
    display: none;
  }

  header{
    width: 100%;
    text-align: -webkit-center; 
  
  }

  header .container #menu{
    width: 62%;
    text-align: -webkit-center;
    position: relative;
    left: 162px;
    top: -26px;
  }
  
  header #loguinho01{
    width: 44%;
    text-align: -webkit-center;
    position: relative;
    height: 65px;
    left: -38px;
    
  }

  
  .h2{
    padding-bottom: 13px;
    text-align: -webkit-center;
    width: 54%;
  }

  .col-md-3{
    padding-bottom: 50px;
    text-align: -webkit-center;
    width: 100%;
  }

  .col-md-4{
    padding-bottom: 50px;
    text-align: -webkit-center;
    width: 90%;
    display: none;
  }

  #estatisticas{
    position: relative;
    top: 118px;
  }
  
  .h3{
    padding-bottom: 22px;
    text-align: -webkit-center;
    width: 100%;
  }

  .wrap{
    width: 100%;
  }

  .time{
    display: none;
  }

  body, html {
    height:100%;
  }
      
  div.wrap {
    height:300%; 
    overflow:hidden;
  }
}

@media (min-width: 411px ) and (max-width: 823px){
  #estatisticas, .container, .row, .col-md-3 ,.header-black, .h3, .col-md-4, .header, section .banner, 
  header .container #menu{
  
    width: 100%;
    text-align: -webkit-center;
  }

  section .banner{
    display: none;
  }

  header{
    width: 100%;
    text-align: -webkit-center; 
  
  }

  header .container #menu{
    width: 62%;
    text-align: -webkit-center;
    position: relative;
    left: 162px;
    top: -26px;
  }
  
  header #loguinho01{
    width: 44%;
    text-align: -webkit-center;
    position: relative;
    height: 65px;
    left: -38px;
    
  }

  
  .h2{
    padding-bottom: 13px;
    text-align: -webkit-center;
    width: 54%;
  }

  .col-md-3{
    padding-bottom: 50px;
    text-align: -webkit-center;
    width: 100%;
  }

  .col-md-4{
    padding-bottom: 50px;
    text-align: -webkit-center;
    width: 90%;
    display: none;
  }

  #estatisticas{
    position: relative;
    top: 118px;
  }
  
  .h3{
    padding-bottom: 22px;
    text-align: -webkit-center;
    width: 100%;
  }

  .wrap{
    width: 100%;
  }

  .time{
    display: none;
  }

  body, html {
    height:100%;
  }
      
  div.wrap {
    height:205%; 
    overflow:hidden;
  }
}

